{% extends "djangorestframework/base.html" %}
{% load static %}
{% block extrahead %}
<style type="text/css">
    .relation-instance fieldset.module .form-row,
    .relation-list fieldset.module .form-row {
        clear: left;
    }
    .relation-instance fieldset.module .form-row.target,
    .relation-instance fieldset.module .form-row.title,
    .relation-instance fieldset.module .form-row.source,
    .relation-list fieldset.module .form-row.target,
    .relation-list fieldset.module .form-row.title,
    .relation-list fieldset.module .form-row.source {
        overflow: visible;
        width: 18em;
        clear: none;
        position: relative;
        float: left;
    }
    .relation-instance fieldset.module .form-row.source,
    .relation-instance fieldset.module .form-row.title,
    .relation-list fieldset.module .form-row.source,
    .relation-list fieldset.module .form-row.title {
    }

    .reference .delete {
        display: block-inline;
        margin-top: 1.75em;
    }
    .reference.new .delete {
        display: none;
    }

</style>
<link type="text/javascript" rel="stylesheet" href="{% static 'graph/chosen.css' %}" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'graph/djangorestframework.js' %}"></script>
<script type="text/javascript" src="{% static 'graph/chosen.min.js' %}"></script>
{% endblock %}
