#network {
    width: 600px;
    height: 400px;
    background: #505050;
    }

#infobox-type {
    width: 100px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #000;
    border-left: 1px solid #aaa;
    border-right: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    }

#infobox {
    display: none;
    }
#infobox h2 {
    font-size: 120%;
    }
#infobox > ul {
    padding-left: 0px;
    }
#infobox > ul > li {
    list-style: none;
    }
#infobox-relations > li > .moreinfo {
    display: none;
    }
#infobox-relations > li.expanded > .moreinfo {
    display: block;
    }
#infobox-relations > li > a.expander {
    background-image: url('img/expand.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    color: transparent;
    }
#infobox-relations > li.expanded > a.expander {
    background-image: url('img/collapse.png');
    width: 15px;
    height: 15px;
    display: inline-block;
    color: transparent;
    }
